.list-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 75%;
    margin: 100px 0px 0px 300px;
    overflow-x: auto;
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.header-row h1 {
    position: absolute;
	left: 45%;
	color: black;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
   	min-width: 1500px;
}

th, td {
    border: 1px solid #c0c0c0;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

th {
    background: #f0f0f0;
    font-weight: bold;
}

.view-bank{
	text-decoration: none;
}

.view-bank:hover{
	color: blue;
}

.view-cars{
	text-decoration: none;
}

.view-cars:hover{
	color: blue;
}
/* Links */
.link-update {
    color: blue;
    text-decoration: none;
    margin: 0 5px;
}
.link-delete {
    color: red;
    text-decoration: none;
    margin: 0 5px;
}

/* Column widths (must total 100%) */
th:nth-child(1), td:nth-child(1) { width: 7%; }   /* user Id */
th:nth-child(2), td:nth-child(2) { width: 15%; }  /* full Name */
th:nth-child(3), td:nth-child(3) { width: 10%; }  /* Phone */
th:nth-child(4), td:nth-child(4) { width: 18%; }  /* Email */
th:nth-child(5), td:nth-child(5) { width: 10%; }  /* password */
th:nth-child(6), td:nth-child(6) { width: 10%; }   /* confirmPassword */
th:nth-child(7), td:nth-child(7) { width: 10%; }   /* role */
th:nth-child(8), td:nth-child(8) { width: 10%; }   /* status */
th:nth-child(9), td:nth-child(9) { width: 10%; }  /* Action */

